<div class="row">
  {{!-- <div class="col left-col">

  </div> --}}
  <div class="col right-col">
   <img
      src="/images/Shelfie Logo Teal.png"
      alt="shelfie logo"
      class="home-logo"
    />

</div>



<script src="/js/newData.js"></script>