 <div class="row">
            <div class="col">
                <h1 class="font login-title">Shelfie</h1>
                <form id="login-form">
                    <div class="mb-3">
                        <label for="exampleInputUsername1" class="form-label">Username</label>
                        <input type="username" class="form-control" id="username-input-login" aria-describedby="userHelp">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password-input-login">
                    </div>
                   
                    <button type="submit" class="btn btn-light">Log in</button>
                    <a class="nav-link link-color font mt-3" href="/signup">Don't have an account? Sign up!</a>
                </form>
            </div>
        </div>

<script src="/js/login.js"></script>
