<div>

<div class="row">
        <div class="col">
            <h1 class="font login-title">Search Books</h1>
            <div id="search-bar">
                <div class="mb-3">
                    <label for="titlesearch" class="form-label">Name</label>
                    <input type="search" class="form-control" id="titlesearch" aria-describedby="userHelp">
                </div>
                <div class="mb-3">
                    <label for="genresearch" class="form-label">Genre</label>
                    <input type="search" class="form-control" id="genresearch" aria-describedby="userHelp">
                </div>
               
                <button type="submit" class="btn btn-light search-btn" id="search-btn">Search</button>
            </div>
    </div>

</div>

<script src="/js/bookApi.js"></script>