<div class="row">
            <div class="col">
                <h1 class="font login-title">Shelfie</h1>
                <h2 class="font signup-title">Sign Up!</h2>
                <form id="signup-form">
                     <div class="mb-3">
                        <label for="exampleInputUsername1" class="form-label">Email(required)</label>
                        <input type="email" class="form-control" id="email-input-signup" aria-describedby="emailHelp">
                    </div>
                    <div class="input-group flex-nowrap mt-4">
                        <span class="input-group-text" id="addon-wrapping"></span>
                        <input type="text" class="form-control" id="username-input-signup" placeholder="Username(required)" aria-label="Username" aria-describedby="addon-wrapping">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label mt-3">Password(required)</label>
                        <input type="password" class="form-control" id="password-input-signup">
                    </div>
                   
                    <button type="submit" class="btn btn-light">Sign Up</button>
                    <a class="nav-link link-color font mt-3" href="/login">Login instead</a>
                </form>
            </div>
        </div>

<script src="/js/signup.js"></script>
